pip== 20.3.3 
cython == 0.29.21   
torch==1.7.1
fastai ==2.2.5
fastbook == 0.0.16             
ipython == 7.19.0        
torchvision ==0.8.2
voila== 0.2.6                 
jupyter_nbextensions_configurator==0.4.1        
matplotlib==3.3.3                        
notebook==6.2.0             
    


